In [5]:
import pandas as pd 
import numpy as np

In [6]:
"""
receive data from kaggle and convert to csv and save file to data repository 
"""
# !pip install datasets
# from datasets import load_dataset

# # Load the dataset from Hugging Face
# dataset = load_dataset("divaroffical/real_estate_ads")

# # Convert to Pandas DataFrame and save to CSV
# for split in dataset.keys():
#     df = dataset[split].to_pandas()
#     df.to_csv(f"../data/real_estate_ads_{split}.csv", index=False) 
#     print(f"Saved {split} data to real_estate_ads_{split}.csv")

'\nreceive data from kaggle and convert to csv and save file to data repository \n'

In [8]:
df = pd.read_csv(r"../data/real_estate_ads_train.csv")

C:\Users\SAJJAD\AppData\Local\Temp\ipykernel_17064\3362541588.py:1: DtypeWarning: Columns (26,28,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"../data/real_estate_ads_train.csv")

In [9]:
df.head()

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
0,temporary-rent,villa,karaj,mehrshahr,2024-08-01 00:00:00,مشاور املاک,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه,NaN,NaN,...,NaN,4.0,6,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,500.0
1,residential-sell,apartment-sell,tehran,gholhak,2024-05-01 00:00:00,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
2,residential-rent,apartment-rent,tehran,tohid,2024-10-01 00:00:00,NaN,تخلیه پایان ماه,آپارتمان ۳ خوابه ۱۳۲ متر,مقطوع,26000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,NaN
3,commercial-rent,office-rent,tehran,elahiyeh,2024-06-01 00:00:00,NaN,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری,مقطوع,95000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,residential-sell,apartment-sell,mashhad,emamreza,2024-05-01 00:00:00,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 60 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   cat2_slug                   1000000 non-null  object
 1   cat3_slug                   999999 non-null   object
 2   city_slug                   999998 non-null   object
 3   neighborhood_slug           437139 non-null   object
 4   created_at_month            1000000 non-null  object
 5   user_type                   288882 non-null   object
 6   description                 1000000 non-null  object
 7   title                       999946 non-null   object
 8   rent_mode                   352994 non-null   object
 9   rent_value                  351322 non-null   float64
 10  rent_to_single              19 non-null       float64
 11  rent_type                   103961 non-null   object
 12  price_mode                  573606 non-null   object
 13  price_value                 568346 non-null   float64
 14  credit_mode                 352994 non-null   object
 15  credit_value                352095 non-null   float64
 16  rent_credit_transform       352985 non-null   object
 17  transformable_price         352894 non-null   object
 18  transformable_credit        352085 non-null   float64
 19  transformed_credit          72409 non-null    float64
 20  transformable_rent          351248 non-null   float64
 21  transformed_rent            72409 non-null    float64
 22  land_size                   186396 non-null   float64
 23  building_size               980394 non-null   float64
 24  deed_type                   253458 non-null   object
 25  has_business_deed           34679 non-null    object
 26  floor                       541748 non-null   object
 27  rooms_count                 845899 non-null   object
 28  total_floors_count          304352 non-null   object
 29  unit_per_floor              302283 non-null   object
 30  has_balcony                 506411 non-null   object
 31  has_elevator                541749 non-null   object
 32  has_warehouse               728155 non-null   object
 33  has_parking                 728156 non-null   object
 34  construction_year           815828 non-null   object
 35  is_rebuilt                  529470 non-null   object
 36  has_water                   33444 non-null    object
 37  has_warm_water_provider     379500 non-null   object
 38  has_electricity             33445 non-null    object
 39  has_gas                     33430 non-null    object
 40  has_heating_system          368969 non-null   object
 41  has_cooling_system          350619 non-null   object
 42  has_restroom                406913 non-null   object
 43  has_security_guard          31312 non-null    object
 44  has_barbecue                31198 non-null    object
 45  building_direction          323923 non-null   object
 46  has_pool                    29390 non-null    object
 47  has_jacuzzi                 28728 non-null    object
 48  has_sauna                   28479 non-null    object
 49  floor_material              405984 non-null   object
 50  property_type               27057 non-null    object
 51  regular_person_capacity     29870 non-null    float64
 52  extra_person_capacity       24009 non-null    object
 53  cost_per_extra_person       10241 non-null    float64
 54  rent_price_on_regular_days  18068 non-null    float64
 55  rent_price_on_special_days  10463 non-null    float64
 56  rent_price_at_weekends      13551 non-null    float64
 57  location_latitude           655608 non-null   float64
 58  location_longitude          655608 non-null   float64
 59  location_radius             339699 non-null   float64
dtypes: float64(18), object(42)
memory usage: 457.8+ MB

In [11]:
# ستون‌های float64
float_columns = df.select_dtypes(include=['float64']).columns

# ستون‌های object
object_columns = df.select_dtypes(include=['object']).columns

In [17]:
"""test for all columns """
print("diff columns" , len(df.columns) - (len(float_columns) + len(object_columns)))

diff columns 0

In [32]:
# df__ = df.isnull().sum().to_frame().reset_index().rename(columns={0: "counts"})
# df__[df__["counts"] > 0]
print("All Columns and Rows" , df.shape)
df.isnull().sum().to_frame().reset_index().rename(columns={0: "counts"}).where(lambda x: x["counts"] > 0).dropna()

All Columns and Rows (1000000, 60)

                         index    counts
1                    cat3_slug       1.0
2                    city_slug       2.0
3            neighborhood_slug  562861.0
5                    user_type  711118.0
7                        title      54.0
8                    rent_mode  647006.0
9                   rent_value  648678.0
10              rent_to_single  999981.0
11                   rent_type  896039.0
12                  price_mode  426394.0
13                 price_value  431654.0
14                 credit_mode  647006.0
15                credit_value  647905.0
16       rent_credit_transform  647015.0
17         transformable_price  647106.0
18        transformable_credit  647915.0
19          transformed_credit  927591.0
20          transformable_rent  648752.0
21            transformed_rent  927591.0
22                   land_size  813604.0
23               building_size   19606.0
24                   deed_type  746542.0
25           has_business_deed  965321.0
26                       floor  458252.0
27                 rooms_count  154101.0
28          total_floors_count  695648.0
29              unit_per_floor  697717.0
30                 has_balcony  493589.0
31                has_elevator  458251.0
32               has_warehouse  271845.0
33                 has_parking  271844.0
34           construction_year  184172.0
35                  is_rebuilt  470530.0
36                   has_water  966556.0
37     has_warm_water_provider  620500.0
38             has_electricity  966555.0
39                     has_gas  966570.0
40          has_heating_system  631031.0
41          has_cooling_system  649381.0
42                has_restroom  593087.0
43          has_security_guard  968688.0
44                has_barbecue  968802.0
45          building_direction  676077.0
46                    has_pool  970610.0
47                 has_jacuzzi  971272.0
48                   has_sauna  971521.0
49              floor_material  594016.0
50               property_type  972943.0
51     regular_person_capacity  970130.0
52       extra_person_capacity  975991.0
53       cost_per_extra_person  989759.0
54  rent_price_on_regular_days  981932.0
55  rent_price_on_special_days  989537.0
56      rent_price_at_weekends  986449.0
57           location_latitude  344392.0
58          location_longitude  344392.0
59             location_radius  660301.0

In [45]:
# # handel null values 
# set(df["user_type"])
# df.loc[df["user_type"].isnull(),"user_type"] = "مشخص نشده"
# df.isnull().sum()